!= js('track')
!= js('main')
.now-playing.hide.clearfix
.main
	form#search(action="/search", method="get")
		input#query.span10(type="text", name="query", placeholder="Enter an artist or genre you want to hear")
		input#find-music.btn.btn-primary.large(type="submit", value="Find Music")
	ul.results.unstyled

