!= js('track')
!= js('main')
.main
	form#search(action="/search", method="get")
		input#query.span10(type="text", name="query", placeholder="Enter an artist, song, or genre you want to hear")
		input#find-music.btn.btn-primary.large(type="submit", value="Find Music", data-loading-text="Looking..")
	ul.results.unstyled
	.more.hide
		a(href="#") 
			i.icon-plus.icon-white(style="margin-top: .2em; margin-right: .3em;") 
			| Load more songs

